In [ ]:
import pandas as pd

<img src="pandasdataframemerge.png" width=800>

In [ ]:
df_product_price=pd.DataFrame({'product':['potatoes','avocados','kiwis','onions','melons','oranges','tomatoes'],'price':['$3','$4','$2','$1','$5','$5','$6']})

In [ ]:
df_product_quantity=pd.DataFrame({'product':['potatoes','avocados','kiwis','onions','melons','broccoli','squash'],'quantity':['45','63','19','20','66','27','92']})

In [ ]:
display(df_product_price)

In [ ]:
display(df_product_quantity)

In [ ]:
#merge - dataframe inner join (equivalent to SQL INNER JOIN)
#SELECT * FROM zokitools.productprice INNER JOIN zokitools.productquantity ON zokitools.productprice.product = zokitools.productquantity.product;
#SELECT * FROM zokitools.productprice a INNER JOIN zokitools.productquantity b ON a.product = b.product;

In [ ]:
df_inner_join=pd.merge(df_product_price,df_product_quantity,how='inner',left_on='product',right_on='product')

In [ ]:
display(df_inner_join)

In [ ]:
df_inner_join2=pd.merge(df_product_price,df_product_quantity,how='inner',on='product')

In [ ]:
display(df_inner_join2)

In [ ]:
#merge - dataframe left join (equivalent to SQL "LEFT OUTER JOIN" also called "LEFT JOIN")
#SELECT a.product,b.product,a.price,b.quantity FROM zokitools.productprice a LEFT OUTER JOIN zokitools.productquantity b ON a.product=b.product;
#SELECT COALESCE(a.product,b.product) AS product,a.price,b.quantity FROM zokitools.productprice a LEFT OUTER JOIN zokitools.productquantity b ON a.product=b.product;

In [ ]:
df_left_join=pd.merge(df_product_price,df_product_quantity,how='left',on='product')

In [ ]:
display(df_left_join)

In [ ]:
#merge - dataframe right join (equivalent to SQL "RIGHT OUTER JOIN" also called "RIGHT JOIN")
#SELECT COALESCE(a.product,b.product) AS product,a.price,b.quantity FROM zokitools.productprice a RIGHT OUTER JOIN zokitools.productquantity b ON a.product=b.product;

In [ ]:
df_right_join=pd.merge(df_product_price,df_product_quantity,how='right',on='product')

In [ ]:
display(df_right_join)

In [ ]:
#merge - dataframe outer join (equvalent to SQL FULL OUTER JOIN)
#SELECT COALESCE(a.product,b.product) AS product,a.price,b.quantity FROM zokitools.productprice a FULL OUTER JOIN zokitools.productquantity b ON a.product=b.product;

In [ ]:
df_outer_join=pd.merge(df_product_price,df_product_quantity,how='outer',on='product')

In [ ]:
display(df_outer_join)

CREATE TABLE zokitools.productprice ( 
product varchar(40) UNIQUE, 
price numeric(2) 
); 

CREATE TABLE zokitools.productquantity ( 
product varchar(40) UNIQUE, 
quantity integer 
); 

INSERT INTO zokitools.productprice(product,price) VALUES ('potatoes','3'); 
INSERT INTO zokitools.productprice(product,price) VALUES ('avocados','4'); 
INSERT INTO zokitools.productprice(product,price) VALUES ('kiwis','2'); 
INSERT INTO zokitools.productprice(product,price) VALUES ('onions','1'); 
INSERT INTO zokitools.productprice(product,price) VALUES ('melons','5'); 
INSERT INTO zokitools.productprice(product,price) VALUES ('oranges','5'); 
INSERT INTO zokitools.productprice(product,price) VALUES ('tomatoes','6'); 

INSERT INTO zokitools.productquantity(product,quantity) VALUES ('potatoes','45'); 
INSERT INTO zokitools.productquantity(product,quantity) VALUES ('avocados','63'); 
INSERT INTO zokitools.productquantity(product,quantity) VALUES ('kiwis','19'); 
INSERT INTO zokitools.productquantity(product,quantity) VALUES ('onions','20'); 
INSERT INTO zokitools.productquantity(product,quantity) VALUES ('melons','66'); 
INSERT INTO zokitools.productquantity(product,quantity) VALUES ('broccoli','27'); 
INSERT INTO zokitools.productquantity(product,quantity) VALUES ('squash','92');